.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  p {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .footer {
    background-color: #21558f;
    p {
      color: white;
      a {
        color: inherit;
      }
    }
  }
}

@media (min-width: 800px) {
  .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
}
