.stripe {
  min-width: auto;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
  margin-top: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
}

.hero .summary {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.hero .links {
  display: flex;
  margin: 30px auto 0px auto;
  max-width: 500px;
}

.hero .links .social {
  margin: 0 auto;
}

.thirds-container {
  float:left;
  margin-bottom: 20px;
}

.thirds-inner {
  margin: 0px 10px;
}

.thirds-inner h2 {
  margin-top: 0px;
}

.our-sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor-image-row {
  text-align: center;
  width:100%;
  height: 50px;
  margin-right: 10px;
}

.sponsor-image-mini-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 50px;
  min-width: 140px;

  a {
    margin: auto;
    display: block;
    width: 140px;
  }

  img {
    width: 140px;
    max-height: 50px;
    vertical-align: middle;
  }
}

@media (min-width: 800px) {
  .header__blog__logo {
    float: left;
  }

  .main {
    margin-top: -50px;
  }

  .thirds-container {
    width 33%;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 0px;
    min-height: 250px;
  }

  .thirds-container.two-thirds {
    width: 66.7%;
  }

  .thirds-container.last-item {
    border-right: none;
  }
}

.event-list {
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.upcoming-event a {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;

  .event-sponsor-logo {
    height: 25px;
    margin-left: 10px;
    margin-right: 20px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.upcoming-event + .upcoming-event {
  border-top: 1px solid rgba(0,0,0,0.3);
}

.upcoming-event:hover {
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

#event-banner {
  border-radius: 6px 6px 0 0;
}

@media (max-width: 800px) {
  #event-banner {
    display: none;
  }

  .hero {
    margin-top: 0;
  }
}
