doctype html

html(lang='en')
  head
    title Cisco Internet of Things Talk
    meta(http-equiv='refresh', content='2; url=https://www.facebook.com/events/215438442201436/')
    script(type='text/javascript').
       window.location.href = "https://www.facebook.com/events/215438442201436/"
