extends page

block post
  .hero
    h1 Imperial Department of Computing Society
    .summary
      p
        | We run multiple events throughout the year, including several coding challenges 
        | and an annual 
        a(href="http://www.ichack.org" target="_blank") hackathon
        | .
        | We invite notable tech speakers, connect our students with different opportunities  
        | and run a number of social events to bring together the community of students who are interested in Computing.
        | &nbsp;
      p.sponsor-attention
        | We are currently looking for 2017/18 sponsors at all tiers.
        br
        | Email us at #[a(href="mailto:docsoc@imperial.ac.uk") docsoc@imperial.ac.uk] if you're interested.

  .cf
    include partials/upcoming-events

  h2 Recent Posts
  .thirds-container
    .thirds-inner
      .recent-posts
        include recent-posts
        mixin recent_posts()

  .thirds-container.two-thirds.last-item
      a.twitter-timeline(href='https://twitter.com/ICDoCSoc', data-widget-id='398125526008614914', data-chrome='nofooter noheader ') Tweets by @ICDoCSoc
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .u-cf

  h2 Our Sponsors
  .our-sponsors
    each sponsor in contents.data['sponsors.json'].metadata
      .sponsor
        a(href=sponsor.url)
          img(src=sponsor.logo
              title=sponsor.name).sponsor-image
