//extends page

link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Vollkorn')

link(rel='stylesheet', href='/style/normalize.css')
link(rel='stylesheet', href='/style/style.css')
//- link(rel='stylesheet', href='//yandex.st/highlightjs/7.3/styles/tomorrow.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
link(rel='shortcut icon', href='/favicon.ico?v=2')

style.
    h1 {
        font-size: 32px;
        text-align: center;
    }
    h2 {
        font-size: 28px;
        padding-bottom: 1em;
        text-align: center;
    }
    p {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    img {
        text-align: center;
        display: block;
        margin: 0 auto;
    }


block post
    h1 YOUR NEXT DOCSOC EVENT IS:
    h1 Netcraft: Phishing for Fun & Profit
    h2 Tuesday 1st November 6:00pm RSM G01
    img(style='textAlign = center', src="img/nextevent/nextevent.jpg")
    p "Give a man a phish and he feeds you for a day, teach a man to phish and he feeds you for a lifetime."
    p To take part, bring your own laptop with a web browser and an SSH client (e.g. Putty http://www.chiark.greenend.org.uk/~sgtatham/putty/ for Windows users; OpenSSH for Linux/Mac users).
    p Pizza and drinks will be provided at the event.