doctype html

html(lang='en')
  head
    title Netcraft: Phishing for Fun and Profit
    meta(http-equiv='refresh', content='2; url=https://www.facebook.com/events/727056880778601/')
    script(type='text/javascript').
       window.location.href = "https://www.facebook.com/events/727056880778601/"
